altgraph==0.17.2
certifi==2021.10.8
docopt==0.6.2
future==0.18.2
pefile==2021.9.3
progressbar2==4.0.0
pyinstaller==4.9
pyinstaller-hooks-contrib==2022.1
python-utils==3.1.0
pywin32-ctypes==0.2.0
Wand==0.6.7
wincertstore==0.2
